/* RESET */

html {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    display: block;
}

body {
    background-color: #F6F5F3;
    margin: 0;
}

figure {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* LAYOUT */

.container {
    max-width: 1350px;
    margin: auto;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-66 {
    width: calc(2 * 100% / 3);
}

.col-33 {
    width: calc(100% / 3);
}

.col-12 {
    width: 100%;
}

/* HEADER */

header {
    font-family: "Nerko One", cursive;
    background-color: white;

}

.nav-title {
    font-weight:900;
    font-size: 42px;
    padding: 10px 25px;
    color: #FF9614;
    text-shadow: 2px 2px gray;
 
}

/* MAIN */

/* HERO */

.hero {
    padding-top: 60px;
    padding: 0 50px;
}

.card {
    display: flex;
    background-color: white;
    box-shadow: 2px 2px #EAE9E8;
    width: 100%;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 45px;
    margin: 30px 0;
}

.video {
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
    padding: 0 35px;
}

.list-title{
    padding: 0 35px;
}

.list-title strong{
    font-size: 20px;
}

.col-12 h5 {
    margin-bottom: 10px;
    margin-top: 60px;
}

.col-12 h1 {
    margin-top: 10px;
}

/* LOGOS */

.container.logo{
    padding: 36px 0;
}

.logos {
    display: flex;
    justify-content: space-between;

}

.logos li {
    padding: 12px 60px;
    border-radius: 999px;
    background-color: white;
    font-size: 12px;
}

.fa-facebook{
    color: #1A77F3;
}

.fa-twitter{
    color: #009EFF;
}

.fa-instagram{
    color: #E15B8D;
}

.fa-pinterest,.fa-youtube{
    color: #E62222;
}



/* PREENTAZIONE */

.presentation {
    padding: 0 50px;
}

.float-left {
    float: left;
    max-width: 380px;
    padding-right: 12px;


}

.presentation p {
    line-height: 34px;
    font-size: 20px;
    padding-bottom: 110px;
}
.presentation h1 {
    font-size: 36px;
}

/* FOOTER */

footer {
    background-color: #7C69A4;
    color: white;
    padding: 30px 22px;
}

.credits {
    justify-content: space-between;
}

.address{
    margin-bottom: 0;
}

.credits-list {
    display: flex;
    gap: 25px;
}

.credits-list a {
    text-decoration: underline;
    color: white;
}






/* RESPONSIVE */

@media (max-width:991.99px) {

    .container{
        max-width: 920px;
    }
    .col-66,.col-33{
        width: 100%;
    }

    .info {
        flex-direction: row;
    }

    .logos strong {
        display: none;
    }
}

@media (max-width:767.99px) {
    nav .row{
        justify-content: center;
    }

    .banner {
        display: none;
    }

    .logos strong {
        display: none;
    }

    .logo li {
        padding: 12px 16px;
    }
    
    .info {
        flex-direction: column;
    }

    .float-left {
        float: none;
        width: 100%;
        object-position: center;
        margin: auto;
    }

    .credits {
        justify-content: center;
        text-align: center;
    }
}
